<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="seleniumSettings" init-method="init" class="com.wiley.autotest.framework.config.SeleniumSettings">
        <property name="propertyConfigurer" ref="propertyConfigurer"/>
    </bean>

    <bean id="timeout" class="java.lang.Long">
        <constructor-arg type="long" value="${application.selenium.timeout}"/>
    </bean>

    <import resource="classpath*:/spring/properties.xml"/>
</beans>